@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars on the main window */
  font-family: 'Inter', sans-serif; /* Standard professional font */
}